@use '../../../GlobalVariables.scss' as *;


#main_header{
    background: $gradient-soft;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: $color-border solid;
    min-height: 0;
    color: $color-surface;
}
