@use '../../../GlobalVariables.scss' as *;

#main_header{
    background: $gradient-soft;
    flex: 1;
    display: flex;
    align-items: center;
    border: $color-border solid;
    min-height: 0;
    max-height: 73px;
} 

#main{
    display: flex;
    flex-direction: column;
    height: 100%;
}

#home_main{
    flex: 1;
    overflow: auto;
}

main{
    flex: 9;
    min-height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    gap: 20px;
    height: 100%;
}
#message_main{
    flex: 1;
    display:  flex;
    flex-direction: row;
    align-items: stretch;
    margin: 0;
}
#chats{
    flex: 1;
    max-height: 100%;
    *{
        margin-top: 0.5rem;
    }
}
#chat_ui{
    flex: 3;
    max-height: 100%;
    background-color: beige;
}