@use '../../../GlobalVariables.scss' as *;

/* Editing the card creation UI*/
.btn{

    display:flex;
    justify-content:center;
    align-items:center;
    white-space: nowrap;

    padding:.9rem 2rem;

    border-radius:12px;

    font-weight:600;

    text-decoration:none;

    transition:
        transform .25s,
        box-shadow .25s,
        background .25s;

    box-shadow:var(--shadow-soft);

}

.signUp{

    background:var(--gradient-primary);

    color:white;

}
.signUp:hover{

    transform:translateY(-3px);

    box-shadow:var(--shadow-medium);
}

.logIn{

    background:white;

    color:var(--color-secondary);

    border:2px solid var(--color-primary);

}
.logIn:hover{

    background:var(--color-accent);

    transform:translateY(-3px);

}